<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="NokeyBypass"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />

        <meta-data
            android:name="xposeddescription"
            android:value="绕过乘趣签名校验、安全检测，解锁所有付费皮肤" />

        <meta-data
            android:name="xposedminversion"
            android:value="53" />

    </application>

</manifest>
